<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="myConnectionString" connectionString="DATA SOURCE=C:\Users\Jarcia\Oracle\network\admin;USER ID=STUDENT13B_7;PASSWORD=@Phosphorus20;DATA SOURCE=bryza.kin.tu.kielce.pl:39215/xe"
      providerName="Oracle.ManagedDataAccess.Client" />
    <add name="BazaDanychUniwersytetu.Properties.Settings.ConnectionString"
      connectionString="TNS_ADMIN=C:\Users\Jarcia\Oracle\network\admin;USER ID=STUDENT13B_7;PASSWORD=@Phosphorus20;DATA SOURCE=bryza.kin.tu.kielce.pl:39215/xe;PERSIST SECURITY INFO=True"
      providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>